.venv/
__pycache__/
*.pyc
.DS_Store
.idea/
*.jpg
*.jpeg
*.png
*.gif
!resources/**/*.jpg
!resources/**/*.jpeg
!resources/**/*.png
!resources/**/*.gif
!docs/images/**/*.jpg
!docs/images/**/*.jpeg
!docs/images/**/*.png
!docs/images/**/*.gif
